body {
  font-family: sans-serif;
}
li {
  color: darkblue;
  font-size: x-large;
  font-weight: bold;
}
a {
  color: inherit;
}
/* TODO: add link-icon.png to <a> elements */
pre {
  padding: 1em;
  margin: .5em;
  overflow-x: scroll;

  background-color: lightskyblue;
  color: darkblue;
  font-size: medium;
  font-weight: normal;

  cursor: pointer;
}
