.dialogplus--container {}

.dialogplus--backdrop {
  background: rgba(0,0,0,0.2);
}

.dialogplus--dialog {
  border-radius: .4em;
  padding: 1em;
  background: white;
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: normal;
  text-align: center;
  justify-content: center;
}

.dialogplus--content {
  /* this should be overridden by dialogplus-plugin-icons.css; if text is bold & red, something is wrong */
  font-weight: bold;
  color: red;
}

