.dialogplus--container {
  z-index: 1023;
}

.dialogplus--backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialogplus--dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.dialogplus--content {}
