.dialogplus--root {
  z-index: 1023;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dialogplus--root.dialogplus--isDestroying {
  /* TODO: need animation to complete destruction? */
}

.dialogplus--backdrop {
  width: 100%;
  height: 100%;
}

.dialogplus--dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.dialogplus--content {}
