.dialogplus--root {}

.dialogplus--backdrop {
  background: rgba(0,0,0,0.2);
}

.dialogplus--dialog {
  border-radius: .4em;
  padding: 1em;
  background: white;
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: normal;
  text-align: center;
  justify-content: center;
}

.dialogplus--content {
  /* do make this the point to collapse content for scrolling */
  /*
  this should be overridden by dialogplus-plugin-icons.css
  if text is red & bold, something is wrong
  if text is green & normal weight, it's working correctly
  */
  font-weight: bold;
  color: red;
}

